Host github.com-builder
  HostName github.com
  IdentityFile /var/lib/buildkite-agent/.ssh/buildkite-packer

Host github.com-terraform
  HostName github.com
  IdentityFile /var/lib/buildkite-agent/.ssh/buildkite-terraform
